.grote_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary);
    border-bottom: 3px solid var(--highlight);
    border-radius: 3rem 3rem 0px 0px;
    height: 625px;
    padding: 1rem;
    margin: 2rem;
}

.grafiek_afbeelding {
    position: relative;
    width: 60%;
    margin-bottom: 1rem;
}